doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Sklad.ru
    meta(content='width=device-width, initial-scale=1', name='viewport')
  body
    .content
      ol
        li
          a(href='ui.html') UI kit
        li
          a(href='main.html') Главная
        li
          a(href='main_en.html') Главная
        li
          a(href='catalog.html') Каталог
        li
          a(href='catalog_subcategory.html') Раздел с подкатегориями
        li
          | Раздел каталога
          ul
            li
              a(href='catalog-section-cards.html') Вид карточками
            li
              a(href='catalog-section-list.html') Вид списком
            li
              a(href='catalog-section-table.html') Вид таблицей
        li
          a(href='catalog-element.html') Товар
        li
          | Новости
          ul
            li
              a(href='news.html') Новости
            li
              a(href='news-full.html') Новости на всю ширину без сайдбара
            li
              a(href='news-one-by-one.html') Новости карточкой на всю ширину
        li
          a(href='faq.html') FAQ
        li
          a(href='contacts.html') Контакты
        li
          a(href='clients.html') Клиенты
