// fonts
$fontRubik: 'Rubik', sans-serif;
$fontSize: 15px;
$lineHeight: 1.5;
// root
$rootUrl: "images/";
$rootUrlFonts: "../fonts/";

// color
$colorLigth: #FBF6F6;
$colorRed: #D01C11;
$colorRedText: #E64137;
$colorRedLigth: #E54137;
$colorRedLigth-2: #DEAAA7;
$colorRedLigth-3: #EFC6C6;
$colorDark: #2C343E;
$colorDark-2: #333;
$colorDarkLigth: #5C626A;
$colorDarkLigth-2: #7B838E;
$colorGray: #9AA2AE; 
$colorGrayLigth: #D1D6DC; 
$colorGrayLigth-2: #E4E7EB; 
$colorGrayLigth-3: #F3F5F6; 
$colorGrayLigth-4: #F9FAFA; 
$colorGrayLigth-5: #E3E3EC; 
$colorGrayLigth-6: #828282; 
$colorGrayLigth-7: #DDDDDD; 
$colorGrayLigth-8: #ADB0B8; 
$colorOrange: #F79C30;
$colorGreen: #7DBB68;
$colorFacebook: #3975EA;
$colorInstargam: #e8424e;
$colorYoutube: #ff0000;