.contacts
  .contacts__title
    h1.h2 Контактная информация компании «Склад.ру»

  .contacts__items
    .contact.contact--map
      .contact__inner 
        .contact__title Центральный офис
        .contact__content
          .contact__info
            .contact__info-left Адрес
            .contact__info-right.
              115054, г. Москва, ул. Дубининская, д. 20, стр. 1 (м. Павелецкая) #[a(href='') Схема&nbsp;проезда]
          .contact__info
            .contact__info-left GPS-координаты
            .contact__info-right 41°24'12.2"N 2°10'26.5"E
          .contact__info
            .contact__info-left Часы работы
            .contact__info-right С понедельника по пятницу 9:00—17:30 (без перерыва)
      .contact__map
        iframe(
          src='https://api-maps.yandex.ru/frame/v1/-/CCUevWbSSD?',
          frameborder='0'
        )
    .contact.contact--map
      .contact__inner 
        .contact__title Схема проезда на склад и сервисный центр компании «Склад.ру»
        .contact__content
          .contact__info
            .contact__info-left Адрес
            .contact__info-right.
              143005, Московская область, г. Одинцово, ул. Баковская, д.16, офис.7 (заезд с Минского шоссе) #[a(href='') Схема&nbsp;проезда]
          .contact__info
            .contact__info-left GPS-координаты
            .contact__info-right 41°24'12.2"N 2°10'26.5"E
          .contact__info
            .contact__info-left Часы работы
            .contact__info-right С понедельника по пятницу 9:00—18:00 (без перерыва)
          .contact__info
            .contact__info-left Отпуск и приём
            .contact__info-right С понедельника по пятницу 9:00—17:30 (без перерыва)
      .contact__map
        iframe(
          src='https://api-maps.yandex.ru/frame/v1/-/CCUevSDo1B?',
          frameborder='0'
        )

    .row
      .col-lg-6
        .contact.contact--half
          .contact__inner
            .contact__chunk
              .contact__title По вопросам приобретения погрузчиков и складской техники
              .contact__content
                .contact__info
                  .contact__info-left Бесплатный звонок:
                  .contact__info-right 8 800 250-83-33
                .contact__info
                  .contact__info-left Звоните:
                  .contact__info-right 8 495 221-83-33
                .contact__info
                  .contact__info-left Звонок "Выходного дня":
                  .contact__info-right 8 926 991-12-26 (с 9:00 до 18:00)
                .contact__info
                  .contact__info-left Пишите:
                  .contact__info-right
                    a(href='mailto:tehnika@sklad.ru') tehnika@sklad.ru
            .contact__chunk
              .contact__title По вопросам приобретения погрузчиков и складской техники
              .contact__content
                .contact__info
                  .contact__info-left Бесплатный звонок:
                  .contact__info-right 8 800 250-83-33
                .contact__info
                  .contact__info-left Звоните:
                  .contact__info-right 8 495 221-83-33
                .contact__info
                  .contact__info-left Звонок "Выходного дня":
                  .contact__info-right 8 926 991-12-26 (с 9:00 до 18:00)
                .contact__info
                  .contact__info-left Пишите:
                  .contact__info-right
                    a(href='mailto:tehnika@sklad.ru') tehnika@sklad.ru
            .contact__chunk
              .contact__title По вопросам приобретения погрузчиков и складской техники
              .contact__content
                .contact__info
                  .contact__info-left Бесплатный звонок:
                  .contact__info-right 8 800 250-83-33
                .contact__info
                  .contact__info-left Звоните:
                  .contact__info-right 8 495 221-83-33
                .contact__info
                  .contact__info-left Звонок "Выходного дня":
                  .contact__info-right 8 926 991-12-26 (с 9:00 до 18:00)
                .contact__info
                  .contact__info-left Пишите:
                  .contact__info-right
                    a(href='mailto:tehnika@sklad.ru') tehnika@sklad.ru
      .col-lg-6
        .contact.contact--half
          .contact__inner
            .contact__chunk
              .contact__title Реквизиты компании
              .contact__text
                p Общество с ограниченной ответственностью «Склад.ру»
                p ИНН: 7705851719
                p КПП: 503201001
                p ОГРН: 1087746897534
                p Расчетный счет: 40702810538250036908
                p Банк: ПАО СБЕРБАНК Г. МОСКВА
                p БИК: 044525225
                p Корр. счет: 30101810400000000225
                p Юридический адрес: 143005, Московская область, город
                p Одинцово, улица Баковская, дом 16, офис 7.
